<section class="aside-about">
    <div class="avatar"></div>
    <span class="aside-name">Fan Zhang</span>
    <ul class="sns">
            <li><a href="https://github.com/cmade" title="Fork me on Github"><i class="fa fa-github-alt fa-2x"></i></a></li>
            <li><a href="http://www.linkedin.com/profile/view?id={who}" title="LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
            <li><a href="https://plus.google.com/{who}" title="Plus me"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
            <li><a href="mailto:colin.zhang1992@gmail.com" title="Write to me"><i class="fa fa-envelope fa-2x"></i></a></li>
    </ul>
    <div class="spacer"></div>
</section>