$fs-blog-small: .8em;

article {
  padding-top: 20px;
  a { @extend .force-wrap; }

  header {
    padding-top: 0px;
    position: relative;
    background: $img-border bottom left repeat-x;
    h1 {
      margin: 0;
      a {
        text-decoration: none;
        &:hover { text-decoration: underline; }
      }
    }
    p {
      font-size: .9em;
      color: $text-color-light;
      margin: 0;
      &.meta {
        @extend .sans;
        text-transform: uppercase;
        position: absolute; top: 0;
      }
    }
//    margin-bottom: 1.5em;
    padding-bottom: .5em;
  }
  h2 {
    padding-top: 0.3em;
    //background: $img-border top left repeat-x;
  }
  .entry-content & h2:first-child, header + h2 { padding-top: 0; }
/* should be useless */
//  h2:first-child, header + h2 { background: none; }

  p.meta-up {
//    @extend footer;
    position: relative;
//    top: -25px;
    font-size: $fs-blog-small;
    clear: both;
    overflow: hidden;
  }

  > footer {
    padding-bottom: .5em;
    margin-top: 2em;
    @extend .sans;

    p.meta {
      margin-bottom: .8em;
      font-size: .85em;
      clear: both;
      overflow: hidden;
    }

    .byline + time:before, time +time:before, .comments:before, .byline ~ .categories:before {
      @extend .separator;
    }
  }

}

.separator {
  content: "\2022 ";
  padding: 0 .4em 0 .2em;
  display: inline-block;
}
