body > footer {
  font-size: .8em;
  color: $footer-color;
  position: relative;
  padding: .5em 0;
  z-index: 1;
  a {
    @include link-colors($footer-link-color, $footer-link-color-hover, $visited: $footer-link-color);
  }
  p {
    text-align: center;
  }
  p:last-child { margin-bottom: 0; }
}
