$nav-font: "Lato";
$nav-text-color: #888;
$nav-hover-color: #333333;

body > nav {
  text-align: center;
  background: $main-bg $noise-bg;
  padding: 10px 0 0;

  @media screen and (max-width: 640px) { padding: 5px 0 0; }

  > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1;
    display: inline-block;
    zoom: 1;
    border: none;
  }
  > ul > li {
    float: left;
    display: block;
    padding: 0;
    border: none;
    box-shadow: none;
  }

  > ul > li > a {
    color: $nav-text-color;
    text-decoration: none;
    display: block;
    font-family: $nav-font;
    text-transform: capitalize;
    position: relative;
    -webkit-transition: color .25s;
    -moz-transition: color .25s;
    -ms-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
    border: none;
    box-shadow: none;
    text-shadow: none;

    // responsive
    padding: 10px 25px;
    font-size: 20px;
    @media screen and (max-width: 980px) {
      padding: 10px 15px;
      font-size: 18px;
    }
    @media screen and (max-width: 640px) {
      padding: 6px 8px 6px;
      font-size: 16px;
    }
    @media screen and (max-width: 480px) {
      padding: 4px 6px 2px;
      font-size: 15px;
    }

    &:visited {
	  color: $nav-text-color;
    }
  }

  ul li a:hover {
    color: $nav-hover-color;
  }

  ul li a:hover:before {
    width: 100%;
  }

  ul li a:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 0;
      background: $nav-hover-color;
      -webkit-transition: width .25s;
      -moz-transition: width .25s;
      -ms-transition: width .25s;
      -o-transition: width .25s;
      transition: width .25s;
  }

ul li.last > a:after, ul li:last-child > a:after {
  display: none;
}

}