$header-bg: #5E412F;
$header-bg-img: image-url('patterns/dark/escheresque_ste.png');
//$title_color: #43396A;
$title-color: #FFF;
$subtitle-color: $title_color;



//$sidebar-bg: #e9e9e9;
//$sidebar-link-color: saturate(#526f9a, 10);
//$sidebar-link-color-hover: darken(#7ab662, 9);

$footer-bg: #eee;
$footer-bg-front: image-url('noise.png');
$footer-bg-back: linear-gradient(lighten($footer-bg, 8), $footer-bg, darken($footer-bg, 11));

$page-bg: "patterns/light/diamond_upholstery.png";
$page-bg-shadow-color: rgba(#444, .5);

$solarized: light;