//@font-face {
//  font-family: "Trade Winds";
//  src: url("/theme/fonts/trade_winds/TradeWinds-Regular.ttf");
//}
//
//@font-face {
//  font-family: "Lato";
//  src: url("/theme/fonts/lato/Lato-Regular.ttf");
//}

$sans: "Lato", "Helvetica Neue", Arial, sans-serif !default;
$mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !default;

$heading-font-family: "Lato", "Georgia", "Helvetica Neue", Arial, sans-serif;
$header-title-font-family: "Trade Winds", $heading-font-family;
$header-subtitle-font-family: "Trade Winds", $heading-font-family;

